* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    --bg-azul: #2A7AE4;
    --bg-preto: #464646;
    width: 100%;
    background-color: #F5F5F5;
}

.max {
    max-width: 1100px;
    margin: 0 auto;
}


.logo {
    width: 100px;
    transform: translatey(2px);
}

button {
    border: none;
    background-color: var(--bg-azul);
    color: #fff;
    cursor: pointer;
}

input, textarea {
    border: none;
    outline: none; 
}

@media (max-width: 1150px){
    .general-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}


@media (max-width: 360px){

}