header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    align-items: center;
    background: #fff;
}

header .logo-input-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

header .input-header {
    position: relative;
}

header .logo-input-header .input-header input {
    border: none;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 10px 140px 10px 15px;
    outline: 0;
}

header .logo-input-header .input-header .btn-search {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
}


.btn-login {
    padding: 12px 60px;
    border: 1px solid var(--bg-azul);
    color: var(--bg-azul);
    background: none;
}